<label id="mesa-radio-group-label">Selecione uma mesa para visualizar a conta:</label>
<mat-radio-group [(ngModel)]="mesaSelecionada" (ngModelChange)="onChange()" aria-labelledby="mesa-radio-group-label" class="mesa-radio-group">
    <mat-radio-button class="mesa-radio-button" *ngFor="let mesa of mesas" [value]="mesa">
        Mesa {{mesa.id}}
    </mat-radio-button>
</mat-radio-group>
<button [disabled]="!mesaSelecionada" mat-flat-button color="primary" (click)="abrirModalProdutos(mesaSelecionada)">Lançar Consumo</button>