<mat-toolbar color="primary">
    <span class="example-fill-remaining-space">Payres - Sistema de Gerenciamento de Pagamentos para Restaurantes</span>
</mat-toolbar>
<section style="display: flex; flex-wrap: wrap;">
        <mat-card style="flex: 0 0 25%; margin: 20px;">
            <app-lista-mesas style="flex: 0 0 25%; margin-top: 20px;" 
            (listaMesaSelecionadaAtualizada)="atualizaMesaSelecionada($event)" 
            (listaItensPedidosAtualizada)="atualizaItensPedidosMesa($event)"
            (mesaSelecionadaInicial)="setMesaInicial($event)">
            </app-lista-mesas>
        </mat-card>
        <mat-card style="flex: 0 0 65%; margin: 20px;">
            <app-menu-consumo style="flex: 0 0 65%; margin-top: 20px;" 
            [listaItensPedidos]="listaItensPedidos"
            [mesaSelecionada]="mesaSelecionada"
            [valorTotal]="valorTotal"
            [valorPago]="valorPago">
            </app-menu-consumo>
        </mat-card>
</section>