<p *ngIf="mesaSelecionada">Lista de consumo para a: {{'Mesa ' +  mesaSelecionada.id}}</p>
<mat-list>
    <mat-list-item *ngFor="let itensPedidos of listaItensPedidos">
        <h4 mat-line>Nome: {{itensPedidos.produto__nome}} - {{itensPedidos.produto__preco | currency: 'BRL'}}</h4>
        <a mat-line>Qtd: {{itensPedidos.quantidade}}</a>
        <a mat-line>Total: {{itensPedidos.produto__preco*itensPedidos.quantidade | currency: 'BRL'}}</a>
        <mat-divider [inset]="true"></mat-divider>
    </mat-list-item>
</mat-list>
<div *ngIf="listaItensPedidos.length > 0 && mesaSelecionada">
    <div class="menu-consumo-flex">
        <p class="menu-margin-right-10">Valor Total: </p>
        <mat-chip-list class="menu-align-center">
            <mat-chip color="primary" selected> {{valorTotal | currency:'BRL'}} </mat-chip>
        </mat-chip-list>
    </div>
    <div class="menu-consumo-flex-inline" *ngIf="listaValoresPagosMesa">
        <p class="menu-margin-right-10">Valores Parciais Pagos: </p>
        <mat-chip-list class="menu-align-center" *ngFor="let valoresPagos of listaValoresPagosMesa;">
            <mat-chip >{{valoresPagos.valorPago | currency:'BRL'}} </mat-chip>
        </mat-chip-list>
        <p></p>
    </div>
    <div class="menu-consumo-flex">
        <p class="menu-margin-right-10">Valor Restante: </p>
        <mat-chip-list class="menu-align-center">
            <mat-chip color="warn" selected> {{valorRestante | currency:'BRL'}} </mat-chip>
        </mat-chip-list>
    </div>
    <mat-form-field class="menu-margin-right-20">
        <input type="text" mask="comma_separator.2" [(ngModel)]="valor" matInput placeholder="Valor Pago:">
    </mat-form-field>
    <button class="menu-margin-right-20" mat-flat-button cdkFocusInitial color="primary" (click)="lancarValor(valor)" >Lançar Valor</button>
    <button [disabled]="valorRestante != 0" mat-flat-button  cdkFocusInitial color="accent" (click)="finalizarConta()">Finalizar Conta</button>
</div>