<p>Lista de consumo para a: {{'Mesa ' + mesaSelecionada.id}}</p>
<mat-list>
    <mat-list-item *ngFor="let itensPedidos of listaItensPedidos">
        <h4 mat-line>Nome: {{itensPedidos.nome}}</h4>
        <a mat-line>Qtd: {{itensPedidos.quantidade}}</a>
        <a mat-line>{{itensPedidos.valor | currency: 'BRL'}}</a>
        <mat-divider [inset]="true"></mat-divider>
    </mat-list-item>
</mat-list>
<div *ngIf="listaItensPedidos.length > 0 && mesaSelecionada">
    <p>Valor Total: {{valorTotal | currency:'BRL'}} </p>
    <p>Valores Pagos Parciais: {{valorPago | currency:'BRL'}}</p>
    <p>Valor Restantes: {{valorPago | currency:'BRL'}}</p>
    <mat-form-field class="full-width">
        <input  type="text" mask="comma_separator.2" [(ngModel)]="valor" matInput placeholder="Valor a ser Pago:">
    </mat-form-field>
    <button class="full-width" mat-flat-button cdkFocusInitial color="primary" (click)="lancarValor(itensPedidos.valor)" >Lançar Valor</button>
    <button [disabled]="valorTotal !== valorPago" mat-flat-button  cdkFocusInitial color="accent" (click)="finalizarConta()">Finalizar Conta</button>
</div>